html{
    box-sizing: border-box;
}

*, *::after, *::before{
 box-sizing: inherit;
 margin: 0;
 padding: 0;
}

html,
body{
    height: 100%;
}



ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.section-title{
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

body{
    font-size: 16px;
    font-weight: 400;
}

header{
    background-color: #f3dea0;
}

.header_main{
    background-color: transparent;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

.header_inner{
padding-top: 40px;
padding-bottom: 45px;
display: flex;
justify-content: space-between;
align-items: flex-end;
}


.menu__list{
    display: flex;
    gap: 35px;
}

.menu__list-link{
    color: #111;
    text-transform: uppercase;
}

.footer {
    background-color: #111;
    padding: 50px;
    color: #fff;
    list-style-type: none;
    width: 100%;
  
  }
  
  .footer__menu-list {
    max-width: 250px;
  }
  
  .footer__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  
  }
  
  .footer__menu-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  
  .footer__menu-item+.footer__menu-item {
    padding-top: 20px;
  
  }

  .main{
    flex-grow: 1;
  }


.top{
     color: #fff;
     text-align: center;
     padding-top: 250px;
     padding-bottom: 50px;
     position: absolute;
     z-index: 5;
     left: 0;
     right: 0;


}

.title{
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
    color: #111;
}


.top__link{
    background-color: #151515;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    border-radius: 40px;
}
.swiper::after{
    background: rgba(21, 21, 21,.3);
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}



.swiper-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.swiper-pagination-bullet{
width: 120px;
height: 3px;
background-color: #151515;
border-radius: 0;
opacity: 1;
margin: 0 25px;
}
.swiper-pagination-bullet-active{
    height: 6;
    background-color:#fff;
}


.why-lease{
    padding: 150px 0;
    background-color: #f5d78e;

}

.why-lease__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.why-lease__item-title{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

.why-lease__item-text{
    text-align: left;
    font-size: 20px;
}

.video{
    padding-bottom: 70px;
    background-color: #f5d78e;

}

.video__title{
    margin-bottom: 20px;
}

.video__text{
    font-style: 24px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.video__content{
    margin: 0 auto;
    display: block;
}

.choose{
    padding: 100px 0 150px;
    background-color: #f5d78e;
}

.tabs__btn{
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-bottom: 100px;
}

.tabs__btn-item{
    font-style: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

.tabs1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}

.card{
    text-align: center;
}

.card__img{
    display: block;

}

.card__content{
    padding: 0 0px;
    background-color: #fff;
    border-top: 0;
    border-radius: 5px;
}

.card__title{
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card__text{
    margin-bottom: 20px;
}

.card__price{
    margin-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}
.card__link{
    display: block;
    color: #00b7ff;
    
    border-top: 0;
    background-color: #fff;
    border-radius: 20px;
}